- name: Create docroot for {{ instance.key }}
  file: path={{item}} state=directory owner={{ mediawiki_apache_user }} mode=755
  with_items:
    - /www/
    - /www/{{ instance.key }}/
    - /www/{{ instance.key }}/docroot
    - /www/{{ instance.key }}/logs
    - /www/{{ instance.key }}/cache

- name: Create upload directory for {{ instance.key }}
  file: path={{item}} state=directory owner={{ mediawiki_apache_user }} mode=755
  with_items:
    - /www/{{ instance.key }}/docroot/uploads

- name: Create php log file for {{ instance.key }}
  copy: dest=/www/{{ instance.key }}/logs/error_php owner={{ mediawiki_apache_user }} mode=0644 content="" force=no

- name: Create a secret key for {{ instance.key }}
  command: openssl rand -hex -out "{{ item }}" 64
  args:
    creates: "{{ item }}"
  with_items:
    - /www/{{ instance.key }}/secretkey

- name: Install custom docroot files for {{ instance.key }}
  synchronize: src=docroot/{{ instance.value.conf }}/ dest=/www/{{ instance.key }}/docroot/

- name: Create symlink to MediaWiki code for {{ instance.key }}
  file: src=/srv/mediawiki/targets/production dest=/www/{{ instance.key }}/docroot/w state=link force=yes

- name: Create rewrite rules for {{ instance.key }}
  copy: src=.htaccess dest=/www/{{ instance.key }}/docroot/.htaccess owner={{ mediawiki_apache_user }} mode=755

- name: Create LocalSettings file for {{ instance.key }}
  template: src=LocalSettings-{{ instance.value.conf }}.php.j2 dest=/srv/mediawiki/workdir/LocalSettings-{{ instance.key }}.php

- name: Install jobrunner for {{ instance.key }}
  template: src=mw-jobrunner.service.j2 dest=/etc/systemd/system/mw-jobrunner-{{ instance.key }}.service

- name: Enable jobrunner for {{ instance.key }}
  systemd:
    name: 'mw-jobrunner-{{ instance.key }}'
    enabled: yes
    daemon_reload: yes

- name: Upgrade database schema for {{ instance.key }}
  command: /usr/bin/php maintenance/update.php --quick --wiki="{{ instance.key }}"
  args:
    chdir: /srv/mediawiki/workdir

#- name: Setup ElasticSearch for {{ instance.key }}
  #command: /usr/bin/php extensions/CirrusSearch/maintenance/updateSearchIndexConfig.php --wiki="{{ instance.key }}"
  #args:
    #chdir: /srv/mediawiki/workdir
