- name: Create oregano directories
  file: path={{ item }} state=directory
  with_items:
    - /srv/mediawiki/hooks
    - /srv/mediawiki/tags
    - /srv/mediawiki/targets

- name: Install packages required for wiki setup
  yum: name={{ item }} state=present
  with_items:
    - git
    - rsync

- name: Install HHVM warmup script
  copy: src=warmup.sh dest=/srv/mediawiki/warmup.sh mode=0755

- name: Install oregano
  get_url:
    url: https://raw.githubusercontent.com/wikimedia/translatewiki/340394a9eb459e5477f98da6ed82d9cc156f79c5/bin/oregano
    dest: /srv/mediawiki/oregano
    checksum: sha1:a6a9028352d72b45cd1dc07113ea659ff0d4cd57
    mode: a+x

- name: Install oregano hooks
  copy: src=oregano_hook_deploy dest=/srv/mediawiki/hooks/deploy mode=0755

- name: Install MediaWiki repository clone script
  copy: src=co_repos dest=/srv/mediawiki/co_repos mode=0755

- name: Clone repos
  command: /srv/mediawiki/co_repos
  args:
    chdir: /srv/mediawiki/

- name: Install composer.local.json
  copy: src=composer.local.json dest=/srv/mediawiki/workdir/composer.local.json

- name: Install LocalSettings.php
  template: src=LocalSettings.php.j2 dest=/srv/mediawiki/workdir/LocalSettings.php

- name: Run composer update
  command: /usr/local/bin/composer update --no-dev
  args:
    chdir: /srv/mediawiki/workdir

- name: Install sql database
  yum: name={{ item }} state=present
  with_items:
    - mariadb
    - mariadb-server
    - MySQL-python
  tags: db

- name: Install sql config
  copy: src=my.cnf dest=/etc/my.cnf.d/custom.cnf
  tags: db

- name: Ensure sql is running
  service: name=mariadb state=started enabled=yes
  tags: db
 
- name: Add database for wiki
  mysql_db: name=mediawiki state=present
  tags: db

- name: Add database user for the wiki
  mysql_user: name=wikiuser password=wikipass priv=*.*:ALL host=localhost state=present
  tags: db

- name: Disable old jobrunner
  service: name=mw-jobrunner state=stopped enabled=no
  ignore_errors: yes

- name: Remove old jobrunner
  file: path=/lib/systemd/system/mw-jobrunner.service state=absent

- name: Create symlink from smsxml
  file: src=/www/smsxml/wiki/extensions/Saame dest=/srv/mediawiki/workdir/extensions/Saame state=link force=yes

- name: Configure all wiki instances
  include: instance.yml
  with_items: "{{ wiki_instances }}"
  loop_control:
    loop_var: instance

- name: Add sites sql table entry for Nimiarkisto
  command: /usr/bin/php maintenance/addSite.php --language=fi --pagepath="https://{{ webdomain_nimiarkisto }}/wiki/$1" --wiki="{{ webdomain_nimiarkisto }}" nimiarkisto main
  args:
    chdir: /srv/mediawiki/workdir
  ignore_errors: yes

- name: Deploy latest code with oregano
  command: /srv/mediawiki/oregano {{ item }}
  args:
    chdir: /srv/mediawiki
  with_items:
    - tag
    - deploy

- name: Create warmup URL list
  template: src=warmup-urls.txt.j2 dest=/srv/mediawiki/warmup-urls.txt

- name: Warm up all instances
  command: /srv/mediawiki/warmup.sh /srv/mediawiki/warmup-urls.txt
  args:
    chdir: /srv/mediawiki
