; {{ ansible_managed }}

[www using unix-socket]
listen = /run/php-fpm.sock
listen.owner = {{ php_fpm_user }}
listen.group = {{ php_fpm_group }}
listen.mode = 0666
listen.backlog = 65536
user = {{ php_fpm_user }}
group = {{ php_fpm_group }}
request_terminate_timeout = 70s

pm = dynamic
; each worker uses around 50M of memory or more
pm.max_children = 20
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 500
