# Tracked as syncmetaconf.skel
syncmetaconf.py

# The test database directory
data/

# Tracked as cgi/queconf.skel
cgi/queconf.py
cgi/__pycache__/

# ./out/ is a directory that ./check uses (and creates if needed) for
# the response from the server
