[Unit]
Description=uWSGI smsxml
After=syslog.target

[Service]
ExecStart=/bin/uwsgi --ini /etc/uwsgi/apps-available/smsxml.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
