---

- name: Ensure directories exists
  become: no
  command: mkdir -p "{{ item }}"
  args:
    creates: "{{ item }}"
    warn: false
  loop:
    - "{{ src_root }}"
    - "{{ install_dir }}/bin"

- name: Copy binaries and libs
  unarchive:
    src: "{{ zipfilename }}"
    dest: "{{ install_dir }}"


- name: create wrapper scripts
  template:
    src: hunpos.j2
    dest: "{{ install_dir }}/bin/{{ item }}"
    mode: 0755
  loop:
    - hunpos-tag
    - hunpos-train

- name: Fix permissions (if shared group is set)
  file:
    path: "{{ install_dir }}"
    group: "{{ shared_group }}"
    mode: "g+rwX,o+rX"
    recurse: yes
  when: shared_group is defined
