<?php

$wgSitename = 'Sanat';

$wgDBserver = '{{ instance.value.db.server_host }}';
$wgDBuser = '{{ instance.value.db.user }}';
$wgDBpassword = '{{ instance.value.db.password }}';
$wgDBname = '{{ instance.value.db.database }}';
$wgDBadminuser = '{{ instance.value.db.admin_user | default( instance.value.db.user ) }}'
$wgDBadminpassword = '{{ instance.value.db.admin_password | default( instance.value.db.password ) }}'

$wgLogo = "/logo.png";

wfLoadSkin( 'Vector' );

enableSemantics( $VHOST );
wfLoadExtension( 'PageForms' );
$sfgRedLinksCheckOnlyLocalProps = true;
$sfgRenameEditTabs = true;
$smwgQMaxInlineLimit = $wgCategoryPagingLimit = 250;

require "$IP/extensions/MixedNamespaceSearchSuggestions/MixedNamespaceSearchSuggestions.php";
require "$IP/extensions/ParserFunctions/ParserFunctions.php";
require "$IP/extensions/DeleteBatch/DeleteBatch.php";

require "$IP/extensions/Translate/Translate.php";
wfLoadExtensions( [ 'UniversalLanguageSelector', 'InputBox', 'Sanat' ] );

lfAddNamespace( 1200, 'Lud' );
require "$IP/extensions/Lud/Lud.php";

lfAddNamespace( 1202, 'WordNet' );
require_once( "$IP/extensions/WordNet/WordNet.php" );
$wgNamespacesWithSubpages[NS_WORDNET] = true;
$wgAllowDisplayTitle = true;
$wgRestrictDisplayTitle = false;

// XXX: this is broken. This is not present when MediaWiki runs scripts.
// The extensions should be installed with co_repos.
if ( file_exists( "$IP/extensions/Saame/Saame.php" ) ) {
	include_once "$IP/extensions/Saame/Saame.php";
}
lfAddNamespace( 1204, 'Sms' );
lfAddNamespace( 1206, 'Izh' );

wfLoadExtension( 'Kotus' );
lfAddNamespace( 1210, 'Vepsä' );
lfAddNamespace( 1212, 'Slangipaikannimet' );
lfAddNamespace( 1216, 'Sosva' );
lfAddNamespace( 1218, 'Suomalais-venäläinen_kirja-alan_sanasto' );
lfAddNamespace( 1222, 'Namnledslexikon' );

wfLoadExtension( 'FinnFrameNet' );
lfAddNamespace( 1214, 'FinnFrameNet' );
lfAddNamespace( 1220, 'TransFrameNet' );
