<?php

$wgDBserver = '{{ instance.value.db.server_host }}';
$wgDBuser = '{{ instance.value.db.user }}';
$wgDBpassword = '{{ instance.value.db.password }}';
$wgDBname = '{{ instance.value.db.database }}';

$wgSitename = 'Tieteen termipankki';
$wgMetaNamespace = 'Termipankki';
$wgGrammarForms['fi']['genitive']['Tieteen termipankki']  = 'Tieteen termipankin';
$wgGrammarForms['fi']['inessive']['Tieteen termipankki']  = 'Tieteen termipankissa';
$wgGrammarForms['fi']['illative']['Tieteen termipankki']  = 'Tieteen termipankkiin';
$wgGrammarForms['fi']['elative' ]['Tieteen termipankki']  = 'Tieteen termipankista';
$wgGrammarForms['fi']['partitive']['Tieteen termipankki']  = 'Tieteen termipankkia';

wfLoadSkin( 'Vector' );
$wgDefaultSkin = 'vector-2022';
$wgVectorResponsive = true;
$wgVectorWvuiSearchOptions = [
	'showThumbnail' => false,
	'showDescription' => false,
];
$wgVectorDefaultSidebarVisibleForAnonymousUser = true;
$wgVectorLanguageAlertInSidebar = false;
$wgVectorLanguageInMainPageHeader = true;

$wgLogos = [
	'icon' => '/logo.svg',
	'wordmark' => [ 'src' => '/wordmark.svg', 'width' => '376', 'height' => '80' ],
];

$wgFavicon = '/favicon.png';
$wgFooterIcons['poweredby']['myicon'] = [
	'src' => '/finclarinlogo.png',
	'url' => 'https://kitwiki.csc.fi/twiki/bin/view/FinCLARIN/FinClarinEsittely',
	'alt' => 'FIN-CLARIN',
	'height' => '21',
	'width' => '88',
];

$wgEnableEmail      = true;
$wgEnableUserEmail  = true;

$wgUseInstantCommons = true;
$wgEnableUploads  = true;
$wgUseImageMagick = true;
$wgFileExtensions[] = 'ppt';
$wgFileExtensions[] = 'pdf';

$wgRightsPage = 'Käyttöehdot'; # Set to the title of a wiki page that describes your license/copyright
$wgRightsUrl  = 'https://creativecommons.org/licences/by-sa/3.0/deed.fi';
$wgRightsText = 'Creative Commons Nimeä-Tarttuva 3.0 Muokkaamaton';
$wgRightsIcon = 'https://i.creativecommons.org/l/by-sa/3.0/88x31.png';

// Turhat pois
$wgHiddenPrefs[] = 'userid';
$wgHiddenPrefs[] = 'math';
$wgHiddenPrefs[] = 'imagesize';
$wgHiddenPrefs[] = 'thumbsize';
$wgHiddenPrefs[] = 'highlightbroken';
$wgHiddenPrefs[] = 'nocache';
$wgHiddenPrefs[] = 'showtoc';
$wgHiddenPrefs[] = 'showjumplinks';
$wgHiddenPrefs[] = 'justify';
$wgHiddenPrefs[] = 'numberheadings';
$wgHiddenPrefs[] = 'uselivepreview';
$wgHiddenPrefs[] = 'editondblclick';
$wgHiddenPrefs[] = 'watchmoves';
$wgHiddenPrefs[] = 'watchdeletion';
$wgHiddenPrefs[] = 'disablesuggest';
$wgHiddenPrefs[] = 'searchlimit';
$wgHiddenPrefs[] = 'contextlines';
$wgHiddenPrefs[] = 'contextchars';
$wgHiddenPrefs[] = 'diffonly';
$wgHiddenPrefs[] = 'norollbackdiff';
$wgHiddenPrefs[] = 'cols';
$wgHiddenPrefs[] = 'rows';
$wgHiddenPrefs[] = 'realname';
$wgHiddenPrefs[] = 'gender';
$wgHiddenPrefs[] = 'vector-collapsiblenav';
$wgHiddenPrefs[] = 'vector-noexperiments';
$wgHiddenPrefs[] = 'showhiddencats';
$wgHiddenPrefs[] = 'underline';
$wgHiddenPrefs[] = 'minordefault';
$wgHiddenPrefs[] = 'showtoolbar';
$wgHiddenPrefs[] = 'hideminor';
$wgHiddenPrefs[] = 'hidepatrolled';
$wgHiddenPrefs[] = 'newpageshidepatrolled';
$wgHiddenPrefs[] = 'usebetatoolbar';


$wgUseAutomaticEditSummaries = false;
$wgLocaltimezone = 'Europe/Helsinki';
/*$oldtz = getenv( 'TZ' );
putenv( "TZ=$wgLocaltimezone");
$wgLocalTZoffset = date( 'Z' ) / 60;
putenv( "TZ=$oldtz" );*/

// Erinäiset rajoitukset
$wgGroupPermissions['*']['edit'] = false;

$wgNamespaceRobotPolicies[NS_USER_TALK] = [ 'noindex' ];
$wgNamespaceProtection[NS_MAIN] = [ 'edit-main' ];
$wgNamespaceProtection[NS_USER] = [ 'expert' ];
$wgGroupPermissions['sysop']['edit-main'] = true;

$wgAllowExternalImages = true;
$wgRestrictDisplayTitle = false;

# Extension config
wfLoadExtension( 'Babel' );
wfLoadExtension( 'CategoryTree' );
$wgCategoryPagingLimit  = 1000;
$wgCategoryTreeMaxDepth['categories'] = 5;

wfLoadExtension( 'Cite' );
wfLoadExtension( 'CirrusSearch' );
$wgSearchType = 'CirrusSearch';

wfLoadExtension( 'CodeEditor' );
wfLoadExtension( 'Elastica' );
wfLoadExtension( 'HeaderTabs' );
wfLoadExtension( 'InputBox' );
wfLoadExtension( 'LiquidThreads' );

wfLoadExtension( 'PageForms' );
$wgPageForms24HourTime = true;
$wgPageFormsAutocompleteOnAllChars = true;
$wgGroupPermissions['user']['createclass'] = false;
$wgGroupPermissions['sysop']['createclass'] = true;
$wgGroupPermissions['*']['viewedittab'] = false;
$wgGroupPermissions['sysop']['viewedittab'] = true;
// All experts should be allowed to edit wikitext to fix possible problems
$wgGroupPermissions['expert']['viewedittab'] = true;

wfLoadExtension( 'ParserFunctions' );
$wgPFEnableStringFunctions = true;

wfLoadExtension( 'Renameuser' );
wfLoadExtension( 'ReplaceText' );
require "$IP/extensions/SemanticDrilldown/SemanticDrilldown.php";
// Semantic MediaWiki
wfLoadExtension( 'SemanticMediaWiki' );
enableSemantics( $VHOST );
$smwgPageSpecialProperties[] = '_CDAT';
$smwgPageSpecialProperties[] = '_LEDT';
$smwgPageSpecialProperties[] = '_NEWP';
$smwgQMaxLimit = 35000;
$smwgQMaxInlineLimit = 5000;
$smwgQUpperbound = 30000;
// Causes performance issues
$smwgEnabledQueryDependencyLinksStore = false;
$smwgCheckForConstraintErrors = SMW_CONSTRAINT_ERR_CHECK_NONE;
// Work around SMW bug: https://github.com/SemanticMediaWiki/SemanticMediaWiki/issues/5250
$wgNamespacesToBeSearchedDefault[102] = true;
$wgNamespacesToBeSearchedDefault[108] = true;

wfLoadExtension( 'SimpleMathJax' );
$wgSimpleMathJaxUseCDN = false;

wfLoadExtension( 'ShortUrl' );
$wgShortUrlTemplate = '/!$1';

wfLoadExtension( 'TemplateStyles' );
$wgTemplateStylesAllowedUrls['image'][] = '<^/uploads/>';

wfLoadExtension( 'Termbank' );
wfLoadExtension( 'Translate' );
$wgGroupPermissions['sysop']['translate'] = true;
$wgGroupPermissions['translator']['translate'] = true;
$wgGroupPermissions['user']['translate-messagereview'] = true;
$wgGroupPermissions['user']['translate-groupreview'] = true;
$wgGroupPermissions['sysop']['pagetranslation'] = true;
$wgTranslatePageTranslationULS = true;
$wgPageTranslationLanguageList = 'sidebar-always';
$wgTranslateMessageNamespaces = [ NS_MEDIAWIKI ];

$wgHooks['TranslatePostInitGroups'][] = function ( &$list, &$deps, &$autoload ) {
	$mg = new WikiMessageGroup( 'wiki-sidebar', 'project' );
	$mg->setLabel( 'Termipankin käyttöliittymä' );
	$mg->setDescription( 'Termipankin omat käyttöliittymäviestit' );
	$list['wiki-sidebar'] = $mg;

	$mg = new WikiMessageGroup( 'wiki-form-concept', 'project-form-concept' );
	$mg->setLabel( 'Concept form' );
	$list['wiki-form-concept'] = $mg;

	$mg = new WikiMessageGroup( 'wiki-page-concept', 'project-page-concept' );
	$mg->setLabel( 'Concept page' );
	$list['wiki-page-concept'] = $mg;

	$mg = new WikiMessageGroup( 'wiki-search-menu', 'project-search-menu' );
	$mg->setLabel( 'Search menu' );
	$list['wiki-search-menu'] = $mg;
};

wfLoadExtension( 'UniversalLanguageSelector' );
$wgULSPosition = 'interlanguage';

wfLoadExtension( 'VEForAll' );
wfLoadExtension( 'VisualEditor' );
$wgVisualEditorEnableDiffPage = true;
$wgHiddenPrefs[] = 'visualeditor-tabs';
$wgHiddenPrefs[] = 'visualeditor-newwikitext';
#$wgVisualEditorEnableWikitext = true;
#$wgDefaultUserOptions['visualeditor-newwikitext'] = 1;
$wgVisualEditorUseSingleEditTab = true;
#$wgDefaultUserOptions['visualeditor-enable'] = 1;
$wgHooks['VEForAllToolbarConfigNormal'][] = static function( &$defaultConfigNormal ) {
    $defaultConfigNormal[] = [ 'name' => 'reference' ];
};

wfLoadExtension( 'WikiEditor' );
$wgDefaultUserOptions['usebetatoolbar'] = 1;

// Dynaaminen koodi
$wgHooks['SkinAfterBottomScripts'][] = function ( $skin, &$text ) {
	$text .= Html::inlineScript( <<<JS

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27482119-1', 'tieteentermipankki.fi');
  ga('send', 'pageview');

JS
	);
};

$wgHooks['APIGetAllowedParams'] = function (
	ApiBase $module,
	array &$params,
	int $flags
): void {
	global $wgContentNamespaces;
	if ( $module instanceof ApiQueryPrefixSearch ) {
		$params['namespace'][Wikimedia\ParamValidator\ParamValidator::PARAM_DEFAULT] = $wgContentNamespaces;
	}
};

function wfAddTermNamespace( $id, $name ) {
	global $wgExtraNamespaces, $wgContentNamespaces,
		$wgNamespaceProtection,  $wgNamespacesToBeSearchedDefault,
		$wgGroupPermissions, $smwgNamespacesWithSemanticLinks,
		$wgCapitalLinkOverrides, $wgAddGroups;

	$constant = strtoupper( "NS_$name" );
	define( $constant, $id );
	define( $constant . '_TALK', $id + 1 );
	$wgExtraNamespaces[$id] = $name;
	$wgExtraNamespaces[$id + 1] = "Keskustelu_$name";
	$wgContentNamespaces[] = $id;
	$wgNamespacesToBeSearchedDefault[$id] = true;
	$wgCapitalLinkOverrides[$id] = false;

	$right = strtolower( $name );
	$wgNamespaceProtection[$id] = [ $right ];
	$wgGroupPermissions['sysop'][$right] = true;

	$wgGroupPermissions[$right]['expert'] = true;
	//$wgGroupPermissions['fonetiikkakurssi2013']['kielitiede'] = true;
	$wgGroupPermissions[$right][$right] = true;
	$wgGroupPermissions[$right]['delete'] = true;
	$wgGroupPermissions[$right]['edit-main'] = true;
	$smwgNamespacesWithSemanticLinks[$id] = true;

	// Make groups "viral" - if you are in a group, you can add users to it
	$wgAddGroups[$right] = [ $right ];
}

// Nimitys
define( 'NS_NIMITYS', 1098 );
define( 'NS_NIMITYS_TALK', 1099 );
$wgExtraNamespaces[NS_NIMITYS] = 'Nimitys';
$wgNamespacesToBeSearchedDefault[NS_NIMITYS] = true;
$wgExtraNamespaces[NS_NIMITYS_TALK] = 'Keskustelu_nimityksestä';
$wgCapitalLinkOverrides[NS_NIMITYS] = false;
$smwgNamespacesWithSemanticLinks[NS_NIMITYS] = true;


// Lähde
define( 'NS_LAHDE', 1118 );
define( 'NS_LAHDE_TALK', 1119 );
$wgExtraNamespaces[NS_LAHDE] = 'Lähde';
$wgExtraNamespaces[NS_LAHDE_TALK] = 'Keskustelu_lähteestä';
$wgCapitalLinkOverrides[NS_LAHDE] = false;
$smwgNamespacesWithSemanticLinks[NS_LAHDE] = true;

// Suomen romanikieli
$wgExtraLanguageNames['rmf'] = 'kaalengo tšimb'; # Romani language spoken in Finland / Nike 2014-03-05

wfAddTermNamespace( 1100, 'Kasvitiede' );
wfAddTermNamespace( 1102, 'Kielitiede' );
wfAddTermNamespace( 1104, 'Oikeustiede' );
wfAddTermNamespace( 1106, 'Kieliteknologia' );
wfAddTermNamespace( 1108, 'Epidemiologia' );
wfAddTermNamespace( 1110, 'Sienitiede' );
wfAddTermNamespace( 1112, 'Biologia' );
wfAddTermNamespace( 1114, 'Mikrobiologia' );
wfAddTermNamespace( 1116, 'Geofysiikka' );
wfAddTermNamespace( 1120, 'Käännöstiede' );
wfAddTermNamespace( 1122, 'Terminologiaoppi' );
wfAddTermNamespace( 1124, 'Eläintiede' );
wfAddTermNamespace( 1126, 'Politologi' );
wfAddTermNamespace( 1128, 'Arkeologia' );
wfAddTermNamespace( 1130, 'Eläinlääketiede' );
wfAddTermNamespace( 1132, 'Språkvetenskap' );
wfAddTermNamespace( 1134, 'Sähkötekniikka' );
wfAddTermNamespace( 1136, 'Kirjallisuudentutkimus' );
wfAddTermNamespace( 1138, 'Taiteentutkimus' );
wfAddTermNamespace( 1140, 'Language_Technology' );
wfAddTermNamespace( 1142, 'Sosiaalipsykologia' );
wfAddTermNamespace( 1144, 'Kulttuurintutkimus' );
wfAddTermNamespace( 1146, 'Tekstuaalitieteet' );
wfAddTermNamespace( 1148, 'Terminologiako_bankos' );
wfAddTermNamespace( 1150, 'Filosofia' );
wfAddTermNamespace( 1152, 'Pelitutkimus' );
wfAddTermNamespace( 1154, 'Esittävät_taiteet' );
wfAddTermNamespace( 1156, 'Tähtitiede' );
wfAddTermNamespace( 1158, 'Ilmatiede' );
wfAddTermNamespace( 1160, 'Ympäristötieteet' );
wfAddTermNamespace( 1162, 'Kasvatustieteet' );
wfAddTermNamespace( 1164, 'Kosmologia' );
wfAddTermNamespace( 1182, 'Tietojenkäsittelytiede' );
wfAddTermNamespace( 1168, 'Folkloristiikka' );
wfAddTermNamespace( 1170, 'Fysiikka' );
wfAddTermNamespace( 1172, 'Estetiikka' );
wfAddTermNamespace( 1174, 'Semiotiikka' );
wfAddTermNamespace( 1176, 'Taloustiede' );
wfAddTermNamespace( 1178, 'Etelä-Aasian_tutkimus' );
wfAddTermNamespace( 1180, 'Elokuva-_ja_televisiotutkimus' );
wfAddTermNamespace( 1184, 'Clean_Energy_Research' );
wfAddTermNamespace( 1186, 'Kliininen_neurofysiologia' );
wfAddTermNamespace( 1188, 'Biotekniikka' );
wfAddTermNamespace( 1190, 'Avoin_tiede');
wfAddTermNamespace( 1192, 'Teologia');
wfAddTermNamespace( 1194, 'Perinnöntutkimus');
wfAddTermNamespace( 1196, 'Geologia' );
# 1198 is reserved
wfAddTermNamespace( 1200, 'Taidehistoria' );
wfAddTermNamespace( 1202, 'Yleinen_valtio-oppi' );
wfAddTermNamespace( 1204, 'Arkkitehtuuri' );
wfAddTermNamespace( 1206, 'Historia' );
wfAddTermNamespace( 1208, 'Game_Studies' );
wfAddTermNamespace( 1210, 'Elintarviketieteet' );
wfAddTermNamespace( 1212, 'Kestävyystiede'  );
wfAddTermNamespace( 1214, 'Sukupuolentutkimus' );
wfAddTermNamespace( 1216, 'Maisemantutkimus' );
wfAddTermNamespace( 1218, 'Tiedeneuvonta' );
wfAddTermNamespace( 1220, 'Tilastotiede' );
wfAddTermNamespace( 1222, 'Kemia' );
wfAddTermNamespace( 1224, 'Lääketiede' );
wfAddTermNamespace( 1226, 'Hälso-_och_sjukvård' );
wfAddTermNamespace( 1228, 'Terveystieteet' );
wfAddTermNamespace( 1230, 'Maantiede' );
wfAddTermNamespace( 1232, 'Kulttuuriantropologia' );
wfAddTermNamespace( 1234, 'Uskontotiede' );
wfAddTermNamespace( 1236, 'Selkokielen_tutkimus' );
wfAddTermNamespace( 1238, 'Kamppailuntutkimus' );
wfAddTermNamespace( 1240, 'Antiikintutkimus' );
wfAddTermNamespace( 1242, 'Alkuperäiskansatutkimus' );
wfAddTermNamespace( 1244, 'Pohjois-Amerikan_tutkimus' );
wfAddTermNamespace( 1246, 'Ihmistieteet' );
wfAddTermNamespace( 1248, 'Digital_Humanities' );
wfAddTermNamespace( 1250, 'Mesoamerikan_tutkimus' );
wfAddTermNamespace( 1252, 'Käyttäytymistieteet' );
wfAddTermNamespace( 1254, 'Saamentutkimus' );
wfAddTermNamespace( 1256, 'Matematiikka' );
wfAddTermNamespace( 1258, 'Antropologia' );
wfAddTermNamespace( 1260, 'Viestintä' );
wfAddTermNamespace( 1262, 'Kaupunkitutkimus' );
