[Unit]
Description=MediaWiki jobrunner for {{ instance.key }}

[Service]
User={{ mediawiki_apache_user }}
ExecStart=/usr/bin/php /srv/mediawiki/targets/production/maintenance/runJobs.php --wait --maxjobs=10000 --wiki={{ instance.key }} --memory-limit=400M
Restart=always
RestartSec=5
PrivateDevices=true
PrivateTmp=true
# Not supported in Centos 7
#ProtectControlGroups=true
ProtectHome=true
# Not supported in Centos 7
#ProtectKernelTunables=true
ProtectSystem=full
Nice=15

[Install]
WantedBy=multi-user.target
