remi_repo_url: "https://rpms.remirepo.net/enterprise/remi-release-{{ ansible_distribution_major_version }}.rpm"
remi_repo_gpg_key_url: "https://rpms.remirepo.net/RPM-GPG-KEY-remi2018"
remi_repo_php_version: remi-php73

php_packages:
  - php-common
  - php-cli
  - php-fpm
  - php-opcache
  - php-mbstring
  - php-intl
  - php-mysqlnd
  - php-pecl-mcrypt
  - php-pecl-mongodb
  - php-pecl-memcached
  - php-pecl-zip
  - php-gd
  - php-xml

php_ini_file: /etc/php.ini
php_fpm_conf_file: /etc/php-fpm.conf
php_fpm_pool_file: /etc/php-fpm.d/www.conf

php_fpm_service: php-fpm

php_fpm_user: apache
php_fpm_group: apache
