webaliases_nimiarkisto:
  - namnarkivet.fi
  - nammaarkiiva.fi
  - xn--nommarkkdh-64aeb.fi
  - nommaarkkadah.fi
  - xn--nmmarkiiv-q7a.fi
  - nommarkiiv.fi
  - www.nimiarkisto.fi
  - www.namnarkivet.fi
  - www.nammaarkiiva.fi
  - www.xn--nommarkkdh-64aeb.fi
  - www.nommaarkkadah.fi
  - www.xn--nmmarkiiv-q7a.fi
  - www.nommarkiiv.fi

webaliases_termipankki:
  - www.tieteentermipankki.fi

mediawikis:
  sanat.csc.fi:
    conf: sanat
    repofile: repos-sanat
    db:
      database: sanatdb
      server_host: '{{ vault_sanat_db_server }}'
      user: '{{ vault_sanat_db_user }}'
      password: '{{ vault_sanat_db_password }}'
      admin_user: "{{ vault_db_admin_user }}"
      admin_password: "{{ vault_db_admin_password }}"
  nimiarkisto.fi:
    conf: nimiarkisto
    repofile: repos
    db:
      database: kielipankki_nadigi_m
      server_host: '{{ vault_nimiarkisto_db_server }}'
      user: '{{ vault_nimiarkisto_db_user }}'
      password: '{{ vault_nimiarkisto_db_password }}'
      admin_user: "{{ vault_db_admin_user }}"
      admin_password: "{{ vault_db_admin_password }}"
  tieteentermipankki.fi:
    conf: termipankki
    repofile: repos-termipankki
    db:
      database: termipankki
      server_host: '{{ vault_termipankki_db_server }}'
      user: '{{ vault_termipankki_db_user }}'
      password: '{{ vault_termipankki_db_password }}'
      admin_user: "{{ vault_db_admin_user }}"
      admin_password: "{{ vault_db_admin_password }}"

ssl_params_sanat:
  certificate_file: "/etc/pki/tls/certs/sanat.csc.fi.crt"
  certificate_key_file: "/etc/pki/tls/private/sanat.csc.fi.key"
  certificate_chain_file: "/etc/pki/tls/certs/DigiCertCA.crt"

ssl_params_nimiarkisto:
  certificate_file: "/etc/pki/tls/certs/nimiarkisto2.crt"
  certificate_key_file: "/etc/pki/tls/private/nimiarkisto2.key"
  certificate_chain_file: "/etc/pki/tls/certs/DigiCertCA.crt"

ssl_params_termipankki:
  certificate_file: "/etc/pki/tls/certs/tieteentermipankki_fi.crt"
  certificate_key_file: "/etc/pki/tls/private/tieteentermipankki_fi.key"
  certificate_chain_file: "/etc/pki/tls/certs/DigiCertCA.crt"

nimiarkisto_service_url: http://95.216.176.62

memcached_memory_limit: 6000

elasticsearch_extra_options: |
  cluster.routing.allocation.disk.threshold_enabled: true
  cluster.routing.allocation.disk.watermark.flood_stage: 200mb
  cluster.routing.allocation.disk.watermark.low: 500mb
  cluster.routing.allocation.disk.watermark.high: 300mb
