#!/bin/bash -e

# touched by jpiitula 2017-02-22

set -o pipefail

resourcedir="{{ install_dir }}/share/Finnish-dep-parser/{{ branch }}"
verbose=0
if [ ! -d "$resourcedir" ] ; then
    echo "Resources not found in $resourcedir"
    exit 1
fi

function run_dep()
{
    orig_dir="$PWD"
    dep_path="$resourcedir"
    dep_command=parser_wrapper.sh
    if [ ! -x "$dep_path/$dep_command" ] ; then
	echo Parser not found in "$dep_path"
	exit 1
    fi
    cd "$dep_path"
    "./$dep_command" 2> /dev/null 
    cd "$orig_dir"
    exit 0
}

function print_help()
{
    echo "Usage: finnish-parse input.txt > output.tsv"
    echo "Usage: finnish-parse < input.txt > output.tsv"
    echo "Usage: echo 'Näin meillä, mites teillä?' | finnish-parse"
    echo "Usage: finnish-parse --help"
    echo
    echo "Parse running Finnish text in standard input or in files."
    echo "Write to standard output."
    echo "Input should be plain UTF-8."

    exit 0
}

case $1 in
    --help)
	print_help ;;
    "")
	run_dep ;;
    *)
	cat -- "$@" | run_dep ;;
esac
