---

- name: Install required packages
  yum:
    name:
      - httpd
      - mod_ssl
      - certbot
      - python*-certbot-apache
      - logrotate
    state: present
  become: yes

- name: Register ACME
  shell:
    cmd: >
      certbot register
      --server "https://{{ acme_endpoint }}"
      --agree-tos
      --eab-kid {{ acme_keyid }}
      --eab-hmac-key {{ acme_hmac }}
      --no-eff-email
      --email {{ acme_email }}
    creates: "{{ acme_root }}/accounts/{{ acme_endpoint }}"
  become: yes

- name: Fetch certificates via ACME
  shell:
    cmd: >
      certbot certonly --apache --server https://{{ acme_endpoint }}
      --non-interactive --agree-tos
      {% for domain in item %}
      -d  {{ domain }}
      {% endfor %}
  loop:
    - ["sanat.csc.fi"]
    - ["tieteentermipankki.fi", "www.tieteentermipankki.fi"]
  become: yes

- name: Setup weekly cronjob for updating the certificate
  copy:
    dest: /etc/cron.weekly/renew-cert
    mode: 0755
    content: |
      #!/bin/bash
      # See https://wiki.csc.fi/PATA/Ohjeet/ServerCertificatesACME
      certbot renew --deploy-hook "systemctl reload httpd"
  become: yes

- name: Copy vhost.conf
  template:
    src: "vhosts.conf.j2"
    dest: "/etc/httpd/conf.d/vhosts.conf"
  notify: restart httpd
  become: yes
  tags: vhost
