[Unit]
Description=hhvm

[Service]
ExecStart=/usr/bin/hhvm -m daemon -u hhvm -c /etc/hhvm/php.ini -c /etc/hhvm/server.ini
ExecStop=rm /run/hhvm.pid
PIDFile=/run/hhvm.pid

[Install]
WantedBy=multi-user.target
