#!/bin/bash -e

set -o pipefail

# ensure java on HPC
module load biojava/1.8 2>/dev/null;

resourcedir="{{ install_dir }}/share/Finnish-dep-parser"
verbose=0
if [ ! -d "$resourcedir" ] ; then
    echo "Resources not found in $resourcedir"
    exit 1
fi

function run_dep()
{
    orig_dir="$PWD"
    dep_path="$resourcedir/$1"
    dep_command=parser_wrapper.sh
    if [ ! -x "$dep_path/$dep_command" ] ; then
        echo Parser not found in "$dep_path"
        exit 1
    fi
    cd "$dep_path"
    if [ "$1" == "alpha-custom" ]; then
       "./$dep_command" 2> /dev/null | cut -f 1,2,4,6,8,10,12
    else
    "./$dep_command" 2> /dev/null
    fi
    cd "$orig_dir"
    exit 0
}

function print_help()
{
    echo 
    echo "finnish-parse {{ version }}"
    echo
    echo "Parse Finnish text in standard input or in files."
    echo "Write to standard output."
    echo "Input should be plain UTF-8."
    echo
    echo "Examples:"
    echo "  finnish-parse input.txt > output.tsv"
    echo "  finnish-parse < input.txt > output.tsv"
    echo "  echo 'Kielipankki palvelee.' | finnish-parse"
    echo
    echo "Options"
    echo "--stanford  The Standford tagset"
    echo "--ud1       Universal Dependencies tagset version 1 (default)"
    echo "--help      This help"
    echo "--version   Version information"
    echo
    echo "More information: http://urn.fi/urn:nbn:fi:lb-2017030801"
    echo

    exit 0
}

case "$1" in
    --help)
	print_help
	exit 0 ;;
    --version)
	echo
	echo "finnish-parse {{ version }}"
	echo "Based on the Turku dependency parser"
	echo
	exit 0 ;;
    --ud1)
	mode=master
	shift ;;
    --stanford)
	mode=alpha-custom
	shift ;;
    *)
	mode=master ;;
esac

cat -- "$@" | run_dep "$mode"
