-- This is the module file for HFST

if ( not isloaded("python-data/3.7.3-1") )  then
   load("python-data/3.7.3-1")
end

help([[
         {{ package_name }} {{ version }}, for more information see http://urn.fi/urn:nbn:fi:lb-20140730183
]])

local   version =       '{{ version }}'
local   prog_root =     '{{ install_prefix }}/ling/{{ package_name }}'

prepend_path('LD_LIBRARY_PATH', pathJoin(prog_root,version,'lib'))
prepend_path('PYTHONPATH', pathJoin(prog_root,version,'lib/python3.7/site-packages'))

prepend_path('CPATH', pathJoin(prog_root,version,'include'))
prepend_path('MANPATH', pathJoin(prog_root,version,'man'))
prepend_path('PATH', pathJoin(prog_root,version,'bin'))

