-- This is the module file for HFST

help([[
         {{ package_name }} {{ version }}, for more information see http://urn.fi/urn:nbn:fi:lb-20140730183
]])

local   version =       '{{ version }}'
local   prog_root =     '{{ install_prefix }}/{{ package_name }}'

prepend_path('LD_LIBRARY_PATH', pathJoin(prog_root,version,'lib'))
prepend_path('PYTHONPATH', '{{ hfst_pythonpath }}')

prepend_path('CPATH', pathJoin(prog_root,version,'include'))
prepend_path('MANPATH', pathJoin(prog_root,version,'man'))
prepend_path('PATH', pathJoin(prog_root,version,'bin'))

