This directory contains a selection of models to be used with the "torch" and "transformers" python modules installed in PyTorch 1.4.

The models were downloaded from {{ release_url }}.

A simple example script for FinBERT is provided: finbert_example.py

To run the models you need to first activate PyTorch 1.4 with the command

module load pytorch/1.4

Models available:

{% for i in bert_models %}
   * {{ i }}
{% endfor %}

For support contact: kielipankki@csc.fi
-- matthies 04/2020