This directory contains a selection of models to be used with the "torch" and "transformers" python modules.

A simple example script is provided: finbert_example.py

For support contact: kielipankki@csc.fi
-- matthies 04/2020