webdomain_sanat: sanat.dev
webaliases_sanat: []
webdomain_nimiarkisto: nimiarkisto.dev
webaliases_nimiarkisto: []


mediawikis:
  sanat.dev:
    conf: sanat
    db:
      server_host: localhost
      server_client: localhost
      user: wikiuser
      password: wikipass
      database: mediawiki
  nimiarkisto.dev:
    conf: nimiarkisto
    db:
      server_host: localhost
      server_client: localhost
      user: wikiuser
      password: wikipass
      database: mediawiki

apache_ssl_protocol: "All -SSLv2 -SSLv3"
apache_ssl_cipher_suite: "AES256+EECDH:AES256+EDH"
ssl_params_sanat:
  certificate_file: "/etc/pki/tls/certs/{{ webdomain_sanat }}.crt"
  certificate_key_file: "/etc/pki/tls/private/{{ webdomain_sanat }}.key"
ssl_params_nimiarkisto:
  certificate_file: "/etc/pki/tls/certs/{{ webdomain_nimiarkisto }}.crt"
  certificate_key_file: "/etc/pki/tls/private/{{ webdomain_nimiarkisto }}.key"


hfst_tmp: /tmp/hfst
hfst_url: http://apertium.projectjj.com/apt/release/pool/main/h/hfst/
hfst_bin: hfst_3.13.0~r3461-0ubuntu2~trusty1_amd64
hfst_lib: libhfst50_3.13.0~r3461-0ubuntu2~trusty1_amd64
hfst_components:
 - [ '{{ hfst_bin }}' , 'sha256:9654f79c3fa6c36bed124eeea868185b5f5ed6a1996bf4cd5c5b5186af0c505c' ]
 - [ '{{ hfst_lib }}' , 'sha256:f2abc2a4f5afef82ad005f31d660cbdb99ca0afcb4e9acf09574f2932e106c26' ]


memcached_memory_limit: 4G
composer_keep_updated: true

nodejs_version: "7.10.0"

php_enable_php_fpm: true
sms_xml:
  wiki_username: "SyncBot"
  wiki_password: "SyncBot12"
  debug: "True"
