webaliases_nimiarkisto:
  - namnarkivet.fi
  - nammaarkiiva.fi
  - xn--nommarkkdh-64aeb.fi
  - nommaarkkadah.fi
  - xn--nmmarkiiv-q7a.fi
  - nommarkiiv.fi
  - www.nimiarkisto.fi
  - www.namnarkivet.fi
  - www.nammaarkiiva.fi
  - www.xn--nommarkkdh-64aeb.fi
  - www.nommaarkkadah.fi
  - www.xn--nmmarkiiv-q7a.fi
  - www.nommarkiiv.fi

