-- This is the module file for {{ package_name }}

help([[
         {{ package_name }} {{ version }}
]])

local   version =       '{{ version }}'
local   prog_root =     '{{ install_prefix }}/ling/{{ package_name }}'

prepend_path('PATH', pathJoin(prog_root,version,'bin'))

