help([[
{{ package_name }} without direct FFmpeg support, only wav supported.
FFmpeg is availabe via module load ffmeg.

For documentation, see https://audeering.github.io/opensmile/index.html.
]])

local   version =       '{{ version }}'
local   prog_root =     '{{ install_dir }}'

prepend_path('PATH', prog_root)

setenv("OPENSMILE_SCRIPTS", pathJoin(prog_root, 'scripts'))
setenv("OPENSMILE_CONFIG", pathJoin(prog_root, 'config'))

if(mode() == 'load')then
        LmodMessage("")
        LmodMessage("openSMILE loaded.")
        LmodMessage("")
        LmodMessage("Scripts and configuration files provided by audEERING GmbH are in directories")
        LmodMessage("found in environment variables $OPENSMILE_SCRIPTS and $OPENSMILE_CONFIG.")
end
